.App {
    text-align: center;
}

#root * {
    font-family: Consolas, Arial, sans-serif;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navigation {
    background: #282c34;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a:link,
.navigation a:visited {
    color: white;
    text-decoration: none;
}

.active {
    font-weight: bold;
    color: red !important;
}

.error {
    font-weight: bold;
    color: red !important;
}

.forgotPassword {
    background: none !important;
    border: none !important;
    text-decoration: underline;
    margin-left: 5px;
    color: #069;
}

.forgotPassword:hover {
    text-decoration: none;
    color: red;
}

#appTitle {
    color: white;
}

#appTitle:hover {
    text-decoration: none;
}

.navigation li {
    display: inline;
    color: white;
    margin: 8px;
}
.navigation li:hover {
    text-decoration: underline;
}

#accountContainer h1 {
    font-weight: bold;
}

#changePasswordUnavailable h2 {
    font-style: italic;
}

#noImages {
    text-align: center;
    padding: 20px;
    border: 1px solid;
    width: 20%;
}

.imgModal img {
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
}

.error {
    color: rgb(150, 1, 1);
}

#image-title {
    width: 250px;
    margin-right: 20px;
}

footer {
    height: 50px;
}
footer * {
    display: inline;
}
